{% extends "base.html" %}
{% block content %}
<title>{% block title %} Password Reset Complete | Virtual Expo ID {% endblock %}</title>
    <style>
    ._done {
        margin: 15% 10%;
    }
    </style>
    <div class="login-page">
        <div class="container py-5">
            <div class="row _done">
                <div class="text-center">
                    <strong><h3>Your new password has been set. Go to <a href="{% url 'login' %}">login</a></h3></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="w-lg-100p h-lg-100vh"></div>
{% endblock content %}