{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block content %}
    <title>{% block title %}Platforms | SelebHub {% endblock %}</title>
    <style>
        .card {
            border: none;
        }
        .shit {
            padding: 20%;
        }
    </style>
    <div class="container pt-lg-5 pb-lg-5 pt-5 pb-5">
        <div class="row pt-lg-5 pb-lg-2 pt-5 pb-5">
            <div class="col-lg-12 pt-lg-0 pb-lg-5 pb-3">
                <div class="text-center">
                    <h3 class="text-muted">Find profile by <b>platforms</b></h3>
                </div>
            </div>
            <div class="card-deck pt-5 pb-5 pl-5 pr-5">
                {% for i in platforms %}
                    <div class="card">
                        <a href="{% url 'platform_detail' i.name %}">
                            <img class="card-img-top shit" src="{{ i.img.url }}" alt="Social Media Platforms">
                        </a>
                        <div class="card-body">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}