{% extends 'base.html' %}
{% load static %}
{% load compress %}


{% block content %}
    <title>{% block title %}Portfolio preview | SelebHub{% endblock %}</title>
    <style>
        .img_portfolio_detail {
            width: 100%;
            height: auto;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pt-lg-5 pb-lg-5 pt-3">
                <div class="card px-lg-5 py-lg-5 px-2 py-2">
                    {% for i in x %}
                        <h3 class="text-muted text-center"><b>{{ i.name }}</b></h3>
                        <img class="img_portfolio_detail" src="{{ i.img.url }}" alt="">
                        <div class="px-lg-2 py-lg-2">
                            <div class="py-lg-5">
                                <b>Description:</b>
                                <p>{{ i.summary }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="pt-lg-2 pt-2 pb-3 text-center">
                    <a href="{{ i.name }}edit/">
                        <h5 class="btn btn-outline-success btn-sm">Edit</h5>
                    </a>
{#                    <a href="">#}
{#                        <h5 class="btn btn-outline-success btn-sm">Preview</h5>#}
{#                    </a>#}
                </div>

            </div>
        </div>
    </div>
{% endblock %}