{% extends "base.html" %}

{% load static %}
{% load compress %}
{% load cloudinary %}

{% load crispy_forms_tags %}
{% block content %}
<title>{% block title %} Account | SelebHub {% endblock %}</title>

    <div class="vendors-details-page">
        <div class="container pt-lg-0 pb-lg-5">
            <div class="row mt-5">
                <div class="col-lg-4 pt-5 pb-41">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal" type="button" class="btn-outline-info"><button class="btn btn-outline-info">Update Profil</button></a>
                    <a href="{% url 'change_pass' %}"><button class="btn btn-outline-secondary">Ubah Password</button></a>
                </div>
                <div class="col-lg-8 pt-5 pb-4 text-right">
                    <a class="text-pink" href="{% url 'home' %}">Home</a>
                    <span class="text-dark-blue"> / </span>
                    <a class="text-muted">My Account</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 pb-5">
                    <h4 class="text-dark-blue">
                        <img src="{% static 'icons/person-circle.svg' %}" alt="">
                        {{user.username}}
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 p-lg-5 card shadow-basic">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="img-fluid d-block mx-auto" src="{{ user.profile.my_photo.url }}" alt="Get Endorse">
                        </div>
                        <div class="col-lg-9 text-dark-blue order-2 order-lg-1">
                            <div class="row">
                                <div class="col-lg-3 col-4 pr-0">First Name</div>
                                <span class="mr-2">:</span>
                                <div class="col-lg-8 col-7 pl-0">{{ user.first_name }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-4 pr-0">Last Name</div>
                                <span class="mr-2">:</span>
                                <div class="col-lg-8 col-7 pl-0">{{ user.last_name }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-4 pr-0">E-Mail</div>
                                <span class="mr-2">:</span>
                                <div class="col-lg-8 col-7 pl-0">{{ user.email }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-4 pr-0">Phone</div>
                                <span class="mr-2">:</span>
                            {% for x in data_user %}
                                <div class="col-lg-8 col-7 pl-0"> {{ x.phone_number }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-4 pr-0">Address</div>
                                    <span class="mr-2">:</span>
                                    <div class="col-lg-8 col-7 pl-0">{{ x.address }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-4 pr-0">Profession</div>
                                    <span class="mr-2">:</span>
                                    <div class="col-lg-8 col-7 pl-0">{{ x.job }}</div>
                                </div>
                            {% endfor %}
                         </div>
                </div>
                </div>

                <div class="col-lg-6 pt-lg-0 pt-3">
                    {% include 'accounts/my.html' %}
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            {% include 'accounts/my_portfolio.html' %}
        </div>
    </div>


    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <a class="modal-title" id="myModalLabel">
                           <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cancel</button>
                        </a>
                        </div>
                    <div class="modal-body">
                        <center>
                        <img src="{{user.profile.my_photo.url}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                        <h3 class="media-heading">{{user.username}}</h3>
                        <span><strong>Section: </strong></span>
                            <b>My Account</b>
                        </center>
                        <hr>
                        <center>
                        <p class="text-left"><strong>Bio: </strong><br>
                           <form method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                                <fieldset class="form-group">
                                  <legend class="border-bottom mb-4">Profile Info</legend>
                                   {{ user_form|crispy }}
                                   {{ profile_form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                  <button class="btn btn-outline-primary btn-sm" type="submit">Submit Change</button>
                                </div>
                           </form>
                        <br>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <center>
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}