{% load static %}
{% load compress %}

<div class="col-lg-12">
    <div class="text-center text-muted">
        <h4><strong>Portfolio saya</strong></h4>
    </div>
</div>

<div class="col-lg-12">
    <div class="pt-lg-5">
        {% if portfolio %}
            <div class="row">
                {% for x in portfolio %}
                    <div class="col-lg-3 py-2">
                        <div class="card px-3 py-3">
                            <div class="card-body">
                                <h5>{{ x.title }}</h5>
                                <p>{{ x.summary | slice:10}}</p>

                                <div>
                                        <a href="{% url 'update_portfolio' x.id %}">
                                            <h5 class="btn btn-outline-info btn-sm">Edit</h5>
                                        </a>

                                        <a href="{% url 'portfolio_detail' x.id %}">
                                            <h5 class="btn btn-outline-secondary btn-sm">Preview</h5>
                                        </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="text-center pt-lg-5 pt-2 pb-3">
                <a href="{% url 'add_portfolios' %}">
                    <h5 class="btn btn-outline-success">Upload portfolio lainnya</h5>
                </a>
            </div>

        {% else %}
            <div class="text-center pt-lg-5 pb-lg-2">
                <h5>Kamu belum memiliki portfolio untuk ditunjukkan, mulai updload sekarang?</h5>
                <a href="{% url 'add_portfolios' %}">
                    <h5 class="btn btn-outline-success">Upload portfolio</h5>
                </a>
            </div>
        {% endif %}
    </div>
</div>