{% extends 'base.html' %}

{% load static %}
{% load compress %}
{% load crispy_forms_tags %}

{% block content %}
<title>{% block title %} Signup | SelebHub {% endblock %}</title>
    <style>
    .sign_up_img {
        width: 100%;
        height: auto;
        margin-top: 50%;
    }
    .sign_up_img_2 {
        margin-top: -36rem;
        z-index: -4;
        position: fixed;
        opacity: 0.4;
        width: 100%;
        height: 100%;
    }
    .mbl_img_sg {
        margin-top: -3rem;
        z-index: -4;
        position: fixed;
        opacity: 0.4;
        width: 100%;
        height: 100%;
    }
    </style>
  <div class="container pt-lg-5 pb-lg-5">
        <div class="row">
            <div class="col-lg-5 col-1">
                <img class="sign_up_img" src="{% static 'img/welcome.svg' %}" alt="">
                <img class="sign_up_img_2 d-none d-lg-block" src="{% static 'img/fall.svg' %}" alt="">
                <img class="mbl_img_sg d-block d-lg-none" src="{% static 'img/fall.svg' %}" alt="">
            </div>
            <div class="col-lg-7 col-10 pt-5 pb-5">
               <h2 class="text-center"><strong>Sign up</strong></h2>
                <div>
                      <form method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <fieldset class="form-group">
                              <legend class="border-bottom mb-4" style="color:red; text-align: center">Join now, it's free and always will be!</legend>
                              {{ form|crispy }}
                          </fieldset>
                          <div class="form-group">
                              <button class="btn btn-outline-primary btn-sm" type="submit">Submit</button>
                          </div>
                      </form>
                      <div class="border-top pt-3">
                          <small class="text-muted">
                              Already have an account?<strong> <a href="{% url 'login' %}">Sign-in</a></strong> here
                          </small>
                      </div>
                </div>
            </div>
{#            <div class="col-lg-3 col-1">#}
{##}
{#            </div>#}
        </div>
    </div>
{% endblock %}