{% load static %}
{% load compress %}

{% block content %}
    <style>
        .img_plt_home {
            width: 40%;
            height: auto;
            {#float: left;#}
        }
        .bg_home_platform {
            opacity: 0.2;
            position: absolute;
            width: 38%;
            height: auto;
            padding-top: 8px;
        }
        .btn_out_sec_custom:hover {
            background-color: #cbd4dd;
        }
    </style>
    <div class="container">
        <img class="bg_home_platform" src="{% static 'img/lanlan.svg' %}" alt="">
    <div class="row pt-lg-5 pb-lg-5">
        <div class="col-lg-12 text-center px-lg-0 py-lg-5">
            <div class="row">
                {% for i in d %}
                    <div class="col-lg-2 text-center col-12 pb-2">
                        <div class="card">
                            <a href="{% url 'platform_detail' i.name %}">
                                <button class="btn btn-outline-secondary btn_out_sec_custom px-lg-2 px-2 py-2">
                                    <b>{{ i.name }}</b>
                                    <img class="img_plt_home" src="{{ i.img.url }}" alt="Social Media Platforms">
                                </button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}