{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block content %}
    <title>{% block title %}Search | GetEndorse {% endblock %}</title>
    <div class="container">
        <div class="row">
        <style>
            img {
                width: 100px;
                height: auto;
            }
            .img_sort {
                float: left;
                width: 17%;
                height: 14vh;
                object-fit: cover;
            }
            b {
                color: #6c757d !important;
            }
            td {
                background: #ffffff !important;
            }
            ._sum {
                width: 30%;
            }
        </style>
            <div class="col-lg-8 pt-lg-5 pb-lg-5">
                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th class="th_profile">Profiles</th>
                            <th class="_sum text-center">Summary</th>
                        </tr>
                    </thead>
                    <tbody class="mf">
                        {% for shit in p_list %}
                            <tr>
                                <td>
                                    <img class="img_sort" src="{{ shit.my_photo.url }}" alt="">
                                </td>
                                <td class="text-right">
                                    <b>{{ shit.my_name }}</b>
{#                                    <a href="{% url 'detail' shit.u_name %}"></a>#}
                                    <p>Rp. {{ shit.my_price }}</p>
                                    <a target="_blank" href="{% url 'detail' shit.u_name %}">
                                        <button type="button" class="btn btn-outline-primary btn-sm">
                                            More detail
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"></path>
                                            </svg>
                                        </button>
                                    </a>
{#                                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'detail' shit.u_name %}"></a>#}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4 pt-lg-5">
                <div class="text-center">
                    <b>Featured influencer</b>
                </div>
            </div>
        </div>
    </div>
{% endblock %}