{% extends 'base.html' %}

{% load static %}
{% load compress %}


{% block content %}
<style>
    .error404 {
        width: 40%;
        height: auto;
        position: relative;
        margin-top: 2%;
        margin-bottom: 7%;
    }
</style>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="text-center pt-lg-5 pt-5 pb-5">
                    <h1><b>Oops, Request not found!</b></h1>
                    <img class="error404" src="{% static 'img/404.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}