{% extends 'base.html' %}

{% block content %}
    <title>{% block title %}About us | SelebHub{% endblock %}</title>

    <div class="container pt-lg-5 pb-lg-5 pt-3 pb-3">
        <div class="row pt-lg-5 pb-lg-5 pt-3 pb-3">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
            <h3 class="text-center">About GetEndorse</h3>
            <div class="pt-lg-5 pb-lg-5 pt-3 pb-3">
                <p>
                    GetEndorse is a platform that allow you to promote your own social media profile on our directory,
                    so the clients can easily find you regarding to their budget for promoting their own business.
                </p>
                <p>
                    GetEndorse is a platform that allow you to promote your own social media profile on our directory,
                    so the clients can easily find you regarding to their budget for promoting their own business.
                </p>
            </div>
        </div>
        <div class="col-lg-2">

        </div>
        </div>
    </div>
{% endblock %}