{% extends 'base.html' %}

{% block content %}
    <title>{% block title %}About us | SelebHub{% endblock %}</title>

    <div class="container pt-lg-5 pb-lg-5 pt-3 pb-3">
        <div class="row pt-lg-5 pb-lg-5 pt-3 pb-3">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">
            <h3 class="text-center">About SelebHub</h3>
            <div class="px-lg-3 py-lg-3 px-3 py-3">
                <p>
                    <b>SelebHub</b> adalah sebuah directory baik bagi para <b>influencer</b> maupun <b>client</b>
                    untuk saling mencari dan mempertemukan keduanya dengan metode penyaringan atau <i>filtering</i>
                    guna mempermudah dalam pencarian
                    <b>influencer</b> yang sesuai dengan kebutuhan. Baik dari segi budget, lokasi, keahlian, gender, platform, dsb.
                </p>
                <p>
                    Jika Kamu seorang <b>influencer</b>, maka platform ini adalah wadah yang sangat tepat untuk Kamu mendapatkan
                    client berdasarkan kriteria Kamu sendiri.
                </p>
                <p>
                    Dan jika Kamu adalah <b>client</b>, maka platform ini juga sangat cocok untuk mencari seorang influencer yang
                    sesuai dengan target market kamu. Kamu bisa menemukan influencer berdasarkan:
                    hobi, keahlian, lokasi, usia, harga, dan masih banyak lainnya.
                </p>
                <p>
                    Tujuan kami adalah untuk membantu kedua belah pihak, yaitu <b>influencer</b> dan <b>client</b> mencapai kesepakatan
                    bisnis yang sesuai berdasarkan kebutuhan kedua belah pihak tersebut.
                </p>
                <a class="text-muted" href="/blog/"><b>Lebih Lengkap >></b></a>
            </div>
        </div>
        <div class="col-lg-1">

        </div>
        </div>
    </div>
{% endblock %}